html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, YuGothic, 'Yu Gothic Medium',
    'Yu Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loading-splash {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loading-splash-spinner {
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid #e3e3e3;
  border-top: 0.5rem solid hsla(158, 100%, 31%, 1);
  border-radius: 50%;
  animation: spin 1s infinite linear;
  margin-bottom: 1rem;
}
